:root {
  --bg-dark: #111;
  --color-1: #ff0;
  --color-2: #290;
  --color-3: #902;
  --color-4: #05f;
}

*,
*::after,
*::before {
  padding: 0;
  margin: 0;
  box-sizing: border-box;
}

body {
  background-color: var(--bg-dark);
  height: 100vh;
  width: 100vh;
  display: grid;
  grid-template-columns: repeat(5, 1fr);
  place-items: center;
}

.tube {
  height: 200px;
  width: 50px;
  border: 2px solid #fff;
  border-radius: 0 0 25px 25px;
  cursor: pointer;
  transition: all 0.3s ease-in-out;
}

.tube.active {
  transform: translateY(-30px);
}
