:root {
  --bg-dark: #222;
  --color-1: #ff0;
  --color-2: #290;
  --color-3: #902;
  --color-4: #05f;
}

*,
*::after,
*::before {
  padding: 0;
  margin: 0;
  box-sizing: border-box;
}

body {
  background-color: var(--bg-dark);
  height: 100vh;
  width: 100vh;
  display: grid;
  grid-template-columns: repeat(5, 1fr);
  place-items: center;
}

.tube {
  display: flex;
  flex-direction: column-reverse;
  height: 210px;
  padding-top: 10px;
  width: 50px;
  border: 2px solid #fff;
  border-radius: 0 0 25px 25px;
  cursor: pointer;
  transition: all 0.3s ease-in-out;
  overflow: hidden;
}

.tube div {
  height: 50px;
}

.tube.target {
  border-color: #000;
}

.tube.active {
  transform: translateY(-100px);
}

.tube.rotate {
  transform: translateY(-100px) rotate(55deg);
}

.block-1 {
  height: 100%;
  background-color: var(--color-1);
}

.block-2 {
  height: 100%;
  background-color: var(--color-2);
}

.block-3 {
  height: 100%;
  background-color: var(--color-3);
}

.block-4 {
  height: 100%;
  background-color: var(--color-4);
}
