:root {
  --bg-dark: #222;
  --color-1: #ff0;
  --color-2: #290;
  --color-3: #902;
  --color-4: #05f;
  --color-5: rgb(255, 0, 255);
}

*,
*::after,
*::before {
  padding: 0;
  margin: 0;
  box-sizing: border-box;
}

body {
  background-color: var(--bg-dark);
  height: 100vh;
  width: 100vh;
  display: grid;
  grid-template-columns: repeat(6, 1fr);
  place-items: center;
}

.tube-wrap {
  height: 210px;
  width: 50px;
}

.tube {
  display: flex;
  flex-direction: column-reverse;
  height: 210px;
  padding-top: 10px;
  width: 50px;
  border: 2px solid #fff;
  border-radius: 0 0 25px 25px;
  cursor: pointer;
  transition: all 0.5s ease-in-out;
  overflow: hidden;
}

.tube div {
  height: 50px;
  transition: all 1s;
}

.tube.active {
  transform: translateY(-100px);
  z-index: 999;
}

.tube.rotate {
  transform: translateY(-100px) rotate(55deg);
}

.block-1 {
  height: 100%;
  background-color: var(--color-1);
}

.block-2 {
  height: 100%;
  background-color: var(--color-2);
}

.block-3 {
  height: 100%;
  background-color: var(--color-3);
}

.block-4 {
  height: 100%;
  background-color: var(--color-4);
}

.block-5 {
  height: 100%;
  background-color: var(--color-5);
}

.modal-wrap {
  width: 100vw;
  height: 100vh;
  position: fixed;
  display: none;
  justify-content: center;
  align-items: center;
  top: 0;
  left: 0;
  z-index: 9999;
  background-color: rgba(0, 0, 0, 0.9);
}

.modal {
  gap: 1rem;
  display: flex;
  flex-direction: column;
  justify-content: center;
  align-items: center;
  color: #fff;
}

.modal svg {
  color: rgb(21, 99, 0);
}

.modal .play {
  background-color: rgb(21, 99, 0);
  padding: 0.7rem 2rem;
  border-radius: 0.5rem;
  cursor: pointer;
}
